<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
        crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
        crossorigin="anonymous"></script>
</head>

<body>
    <div class="container">
        <div class="row">
            <div id="left" class="col-sm">
                <ul>
                    <li v-for="item in list" v-if="item">
                        {{item}}
                    </li>
                </ul>
                <button v-on:click="sendToRight" class="btn btn-primary"> Push to right </button>

            </div>

            <div id="right" class="col-sm">
                <ul>
                    <li v-for="item in list" v-if="item">
                        {{item}}
                    </li>
                </ul>
                <button v-on:click="sendToLeft" class="btn btn-primary">Push to left </button>

            </div>
        </div>

        <div id="popup" class="row">
            <div class="col-xs-12">
                <div v-if="step === 1" class="first-step">
                    <input type="text" class="form-control" placeholder="name" v-model="userData.name">
                    <input type="text" class="form-control" placeholder="email" v-model="userData.email">
                </div>
                <div v-if="step === 2" class="second-step">
                    <input type="text" class="form-control" placeholder="city" v-model="userData.city">
                </div>
                <div v-if="step === 3">
                    Congrats!!!
                    <ul>
                        <li v-for="item in userData">
                            {{item.name}}
                        </li>
                        <li></li>
                    </ul>
                </div>
                {{userData.name}}

                <button v-on:click="raiseStep" class="btn btn-primary">NEXT</button>
            </div>
        </div>
    </div>
    <script src="./main.js"></script>
</body>

</html>